body #app main {
  padding-bottom: 4rem !important;

  #footer-panel {
    border-top: 1px solid #ccc;
    position: fixed;
    left: 0px;
    width: 100%;
    bottom: 0px;
    padding: 1rem 0px 1rem 0rem;
    margin-left: 0px;
    background: #f8f9fa;
  }

  td.actions {
    //width: 108px;
    white-space: nowrap;
    text-align: right;
    .btn {
      background: #fff;
    }
  }

  @media(max-width: 1200px) {
    #report-items {
      width: 100%;
      max-width: 100%;
    }
  }
}

.search-report-items__result-form {

}
.search-report-items__result-form--hidden {
  display: none;
}
.search-report-items__result-error {
  margin: 15px 0;
  color: red;
}
.search-report-items__result-form-content {
  margin: 15px 0;
  overflow: auto;
}
.search-report-items__result-form-content table {
  width: 100%;
  min-width: 740px;
  font-size: 13px;
}
.search-report-items__result-form-content table td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.reports-table {
  min-width: 690px;
}
.reports-table td:last-child {
  white-space: nowrap;
}
td.actions {
  white-space: nowrap;
}
.report-items-table td:first-child {
  white-space: nowrap;
}
.form-group__notification {
  display: none;
  margin-top: 5px;
  font-size: 12px;
  color: var(--danger);
}
.form-group--empty .form-group__notification {
  display: block;
}

.month-date-field {
  position: relative;
  &__label {
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #495057;
  }
  input[type="month"] {
    padding-left: 35px;
  }
}

.report-items {
  th, td {
    padding-left: 0.45rem;
    padding-right: 0.45rem;
  }

  &__th {
    &--number {
      min-width: 50px;
    }
  }

  &__certificate-tooltip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6c757d;
    font-size: 12px;
    color: #ffffff;
    cursor: help;
  }
}
.has-error {
  .form-control {
    border-color: #e3342f;
  }
  .invalid-feedback {
    display: block;
  }
}
.report-item-print {
  @media print {
    .form-group {
      margin-bottom: 5px;
    }
    .control-label {
      margin-bottom: 0;
    }
  }
}

.table-responsive {
  min-height: 150px;
}
